

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.title-h2{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}

.title-h3{
    font-weight: 800;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}

.para-all{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.nav-sign-in{
    font-weight: 600;
    font-size: 18px;
    color: #006A50;
    border-radius: 7px;
    border-color: #006A50;
    padding: 10px 30px;
    margin-top: 20px;
}

/* head styles */

.header-part{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 10px;
    margin: 50px 100px;
    
}
.head-write{
    max-width: 622px;
    margin: 80px 64px 100px 60px;
}

.head-title{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.head-para{
    font-weight: bold;
    font-size: 52px;
    color: #0E0E0E;
    margin-top: 0;
    margin-bottom: 24px;
}

.head-button{
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: #006A50;
    border-radius: 5px;
    border:none;
    padding: 17px 34px;
}

.head-image{
    width: 475px;
    margin-top: 90px;
    margin-right: 60px;
}

/* section pillars styles */
.section-pillars{
    margin: 80px 100px;
}

.pillars-parts{
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

/* pillars-shared-styles */
.pillars-shared-styles{
    border-radius: 7px;
    background-color: rgba(14, 14, 14, 0.15);
    max-width: 300px;
    /* padding: 24px; */
}

.div-img{
    margin-top: 15px;
    margin-left: 15px;
}
.div-h-p{
    margin: 15px;
}

/* section vision */

.section-vision{
    margin: 50px 100px;
}

.vision-eco{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* vision eco shared styles */
.eco{
    max-width: 410px;
}

.eco-images{
    margin-top: 32px;
    margin-left: 32px;
}

.eco-div{
    margin: 24px 32px 24px 32px;
}

.eco-button{
    margin-left: 32px;
    margin-bottom: 32px;
    padding: 11px 20px;
    border-radius: 7px;
    border: none;
}


/* 2nd din part in vision */
.digital-part{
    border-radius: 10px;
    background-color: rgba(84, 144, 245, 0.2);
}

.green-part{
    background-color: #C6E4D6;
    border-radius: 10px;
}

.modern-part{
    border-radius: 10px;
    background-color: #F7EBCF;
}

.digital-button{
    background-color: #5490F5;
    color: #FFFFFF;
}

.green-button{
    background-color: #09A15C;
    color: #FFFFFF;
}

.modern-button{
    background-color: #FFC239;
    color: #FFFFFF;
}

/* younus part */

.younus{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}

.younus-name{
    margin-top: 15px;
    margin-bottom: 0;
}

.younus-position{
    margin-top: 0;
}